falcon
gunicorn
pyjwt[crypto]
pymongo
falcon-auth
auth0-python
git+https://github.com/csanz91/disk_cache
git+https://github.com/csanz91/docker_secrets
python-dateutil
firebase_admin
paho-mqtt==1.6.*
influxdb