falcon
gunicorn
pretend
python-jose-cryptodome==1.3.2
six
pymongo
falcon-auth
auth0-python
-e libs/influx
-e libs/docker_secrets
-e libs/disk_cache
python-dateutil
firebase_admin
paho-mqtt