{
    "token_homeapi": "token_value",
    "auth_url": "https://auth-url.com/",
    "api_url": "https://api-url.com/api/v1/",
    "client_id": "client_id",
    "client_secret": "client_secret",
    "audience": "audience"
}
